<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<title>Book Deletion</title>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container text-center mt-6">
        <%- include('../partials/alert_box.ejs') %>
        <h1>Select a Book to Delete</h1>
        <form action="/admin/delete_book/" method="post">
            <div class="form-group">
                <label for="book_id">Select Book:</label>
                <select class="form-control" id="book_id" name="book_id">
                    <% books.forEach(book=> { %>
                    <option value="<%= book.book_id %>">
                        <%= book.title %>
                    </option>
                    <% }); %>
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Delete Book</button>
        </form>
    </div>
</body>

</html>