<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
<title>Transaction History</title>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container text-center mt-6">
        <%- include('../partials/alert_box.ejs') %>
        <h1>Transaction History</h1>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% transactions.forEach(function(transaction) { %>
                <tr>
                    <td>
                        <%= transaction.title %>
                    </td>
                    <td>
                        <% if (transaction.type==="checkout" ) { %>
                        <%= transaction.borrow_date===null? "null" :
                                    transaction.borrow_date.toLocaleDateString("en-US") %>
                        <% } else { %>
                        <%= transaction.return_date===null ? "null" :
                                            transaction.return_date.toLocaleDateString("en-US"); %>
                        <% } %>
                    </td>
                    <td>
                        <%= transaction.type %>
                    </td>
                    <td>
                        <%= transaction.status %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

</body>

</html>